
{% extends './deplayout.html' %} 
{% load static %} 

{% block title %}
{{ tittle }}
{% endblock title %}
{% block nav-eee %}
<a class="active" href="{% url 'dep_eee' %}">EEE</a>
{% endblock nav-eee %}
{% block depname %}
{{ tittle }}
{% endblock depname %}
{% block notification_content %}
<marquee  direction="up" height="100%">
  <ul style="color:blanchedalmond;">
  {%for list in notification_list%}
      <li ><b><a href="http://collegedashboard.herokuapp.com/noti/{{list.attachements}}"> <p>{{list.summary}} </p> </a></b> </li>
  {%endfor%}
  
  </ul>
  </marquee>
{% endblock notification_content %}
{% block topper1 %}
{%for list in eeetoppers%}
<b><p>{{list.rank1}} </p> </b>
{%endfor%}
{% endblock topper1 %}
{% block topper2 %}
{%for list in eeetoppers%}
<b><p>{{list.rank2}} </p> </b>
{%endfor%}
{% endblock topper2 %}
{% block topper3 %}
{%for list in eeetoppers%}
<b><p>{{list.rank3}} </p> </b>
{%endfor%}

{% endblock topper3 %}

{% block virtual1%}
{% autoescape off %}
{{ plot_div }}
{% endautoescape %}
{% endblock virtual1%}
{% block depy2 %}{{second_s}}{% endblock depy2 %}
{% block depy3 %}{{thirt_s}}{% endblock depy3 %}
{% block depy4 %}{{final_s}}{% endblock depy4 %}